---
var api_key = import.meta.env.API_KEY;
var url = "https://astro-test-cms.microcms.io/api/v1/item";


var name = await fetch(url, {
  headers: {
    "X-MICROCMS-API-KEY": api_key
  }
})
.then(response => {
    return response.json();
})
.then(data => {
  return data.name
})

---
<p>App</p>
<p>name: {name}</p>
