on:
  push: 
    branches: ["master"]
  workflow_dispatch:  
  repository_dispatch:
    types: [build-project]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write


    env:
      API_KEY: ${{ secrets.API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy to page branch
        run: |
          rm -rf ./docs
          mv ./dist ./docs
          touch ./docs/.nojekyll
          git remote set-url origin https://github-actions:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          if git show-ref --verify --quiet refs/heads/page; then
            git switch page
          else
            git switch -c page
          fi
          git add .
          git commit -m "Push from build workflow" --allow-empty
          git push origin page -f
